{:builds
 {:dev
  {:asset-path       "/js"
   :build-hooks      [(helins.medium.co-load/shadow-cljs-hook {helins.medium.co-load/-plugin-test {:medium.co-load/path+ ["src/dev"]}})]
   :compiler-options {:infer-externs :auto}
   :devtools         {:after-load helins.medium.dev/on-load
                      :preloads   [shadow.remote.runtime.cljs.browser]}
   :modules          {:main {:entries [helins.medium.dev]
                             :init-fn helins.medium.dev/on-load}}
   :output-dir       "cljs/js"
   :target           :browser}

 :test-node
 {:build-options {:cache-level :off}
  :ns-regexp     ".+"
  :output-to     "compiled/node/test.js"
  :target        :node-test}}

 :deps
 {:alias [:cljs]}
 
 :dev-http
 {8000 "cljs"}
 
 :nrepl
 {:port 14563}
 }
